.marketContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: .5rem 1rem;
  gap: .5rem;

  background-color: var(--light);
  border-radius: 10px;
  border: 1px solid var(--light);
}

.marketContainerFocus {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: .5rem 1rem;
  gap: .5rem;

  background-color: var(--light);
  border-radius: 10px;
  border: 1px solid var(--red);
}

.marketContainer:hover {
  cursor: pointer;
  border: 1px solid var(--pink-500);
}

.store {
  display: flex;
  gap: 15px;
}

.storeImg {
  display: flex;
  font-size: 4rem;
}

.storeInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

