* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

:root {
  --gray-100: #e7e7e7;
  --gray-200: #cac3c3;
  --gray: #6c757d;

  --black: #000;
  --dark: #343a40;
  --white: #fff;
  --light: #f8f9fa;

  --pink-100: #ffe6e9;
  --pink-500: #e83e8c;

  --red: #dc3545;
}

body {
  background-color: var(--white);
}